body {
    background-color: #eeeeee;
}

#game-container{
    width: 1200px;
    height: 775px;
    margin: 0 auto;
}

#board-left {
    width: 30%;
    float: left;
    background: white;
    height: 750px;
}

#board-right {
    width: 70%;
    float:right;
    background: white;
    text-align: center;
    height: 750px;
}

img#logo {
    width: 95%;
    display: block;
    margin: 0 auto;
}

img#board {
    width: 80%;
    display: block;
    margin: 0 auto;
}

table#score-table {
    width: 92%;
    margin: 0 auto;
    text-align: center;
}

#score-table td, #score-table th {
    border: 2px solid #111111;
    padding: 10px 0px;
    height: 36px;
    font-weight: bold;
}

table#dice-table {
    width: 92%;
    margin: 0 auto;
    height: 120px;
    text-align: center;
    font-weight: bold;
    border: 2px solid #111111;
    padding: 10px;
}

table#pieces-table {
    width: 60%;
    margin: 0 auto;
}

#pieces-table td {
    padding: 5px 0px 7px 20px;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}