img.gamepiece {
    width: 70px;
    position: relative;
    left: 0;
    top: 0;
    cursor: move;
}

div.gamepiece {
	width: 40px;
	height: 40px;
    position: relative; left: 0; top: 0;
	background: gray;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
    -webkit-box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.5);
    -moz-box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.5);
    box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.5);
    border: 1px solid darkred;
    cursor: move;
}

/*.gamepiece{
    position:relative;
    margin:50px;
    width:60px;
    height:16px;
    background-color:#444;
}

.gamepiece::before{
    content: "";
    width: 60px;
	height: 25px;
	background-color:#444;
	-moz-border-radius: 60px / 25px;
	-webkit-border-radius: 60px / 25px;
	border-radius: 60px / 25px;
    position:absolute;
    z-index: -1;
    top:4px;
    box-shadow:0px 0px 10px rgba(0,0,0,0.25);
}

.gamepiece::after{
    content: "";
    width: 60px;
	height: 25px;
	background-color:#666;
	-moz-border-radius: 60px / 25px;
	-webkit-border-radius: 60px / 25px;
	border-radius: 60px / 25px;
    position:absolute;
    top:-13px;
}

#gamepiece0, #gamepiece0::before {
    background-color: rgb(158, 230, 228);
}
#gamepiece0::after {
    background-color: rgb(142, 207, 205);
}

#gamepiece1, #gamepiece1::before {
    background-color: rgb(226, 164, 120);
    right: 10px;
}
#gamepiece1::after {
    background-color: rgb(203, 148, 108);
    right: 10px;
}

#gamepiece2, #gamepiece2::before {
    background-color: rgb(255, 182, 238);
    right: 20px;
}
#gamepiece2::after {
    background-color: rgb(230, 164, 214);
    right: 20px;
}

#gamepiece3, #gamepiece3::before {
    background-color: rgb(52, 212, 172);
}
#gamepiece3::after {
    background-color: rgb(47, 191, 155);
}

#gamepiece4, #gamepiece4::before {
    background-color: rgb(235, 230, 128);
}
#gamepiece4::after {
    background-color: rgb(212, 207, 115);
}

#gamepiece5, #gamepiece5::before {
    background-color: rgb(187, 117, 117);
}
#gamepiece5::after {
    background-color: rgb(179, 102, 102);
}*/