html, body{
    background-color: #800000;
    margin: 0;
    padding: 0;
    height: 100%;
}

#window-container{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    -webkit-box-align: center;
    -moz-box-align: center;
    flex-align: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    flex-pack: center;
}

#game-container{
    width: 1200px;
    height: 775px;
    /*margin: auto;*/
    padding-top: 20px;
    background: #888888;

}

#board-left {
    width: 30%;
    float: left;
}

#board-right {
    width: 70%;
    float:right;
    text-align: center;
}

img#logo {
    width: 90%;
    display: block;
    margin: 0 auto;
    border: 4px solid black;
}

img#board {
    width: 80%;
    display: block;
    margin: 0 auto;
}

table#score-table {
    width: 92%;
    margin: 0 auto;
    text-align: center;
}

#score-table td, #score-table th {
    border: 4px solid black;
    padding: 10px 0px;
    height: 36px;
    font-weight: bold;
    background: white;
}

table#dice-table {
    width: 92%;
    margin: 0 auto;
    height: 120px;
    text-align: center;
    font-weight: bold;
    border: 4px solid black;
    padding: 10px;
    background: white;
}

table#pieces-table {
    width: 60%;
    margin: 0 auto;
}

#pieces-table td {
    padding: 5px 0px 7px 20px;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}