.wedge {
    display: inline;
    font-size: 30px;
    text-align: center;
    -webkit-text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
    -moz-text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
    cursor: move;
    margin: 0;
}

.wedge0 {
    color: blue;
}
.wedge1 {
    color: green;
}
.wedge2 {
    color: rgb(246, 99, 51);
}
.wedge3 {
    color: rgb(255, 117, 190);
}
.wedge4 {
    color: purple;
}
.wedge5 {
    color: yellow;
}

/*.wedge {
	position: relative;
	background-color: gray;
	text-align: left;
    float: left;
    margin: 0.75em;
}
.wedge:before,
.wedge:after {
	content: '';
	position: absolute;
	background-color: inherit;
}
.wedge,
.wedge:before,
.wedge:after {
	width:  1.25em;
	height: 1.25em;
	border-top-right-radius: 30%;
}

.wedge {
    -ms-transform: rotate(-60deg) skewX(-30deg) scale(1,.866);
	-webkit-transform: rotate(-60deg) skewX(-30deg) scale(1,.866);
	transform: rotate(-60deg) skewX(-30deg) scale(1,.866);
}
.wedge:before {
    -ms-transform: rotate(-135deg) skewX(-45deg) scale(1.414,.707) translate(0,-50%);
    -webkit-transform: rotate(-135deg) skewX(-45deg) scale(1.414,.707) translate(0,-50%);
	transform: rotate(-135deg) skewX(-45deg) scale(1.414,.707) translate(0,-50%);
}
.wedge:after {
	-ms-transform: rotate(135deg) skewY(-45deg) scale(.707,1.414) translate(50%);
    -webkit-transform: rotate(135deg) skewY(-45deg) scale(.707,1.414) translate(50%);
    transform: rotate(135deg) skewY(-45deg) scale(.707,1.414) translate(50%);
}*/